%h3= project.name



//.box{:id => "names"} =project.users
//%h5 =project.users

//    =project.users

//.box{:id => "des"} %project.description


/ <div class = "box" id = "des">
//     <p>
//         <%= projects.description %>
//     </p>
// </div>
// <div class = "box" id = "add">
//     <p> "+" </p>
// </div>



//<table>
//    <tr>
//      <td><h3><%= project.name %></h3></td>
        
    
//       <td><%= project.name %></td>
//       <td><%= project.description %></td>
//       <td><%= project.repo %></td>
//       <td><%= link_to 'Show', project %></td>
//       <td><%= link_to 'Edit', edit_project_path(project) %></td>
//       <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
//      </tr>
      
      
//</table>
