.panel.panel-success
    .panel-heading
        %h3.panel-title=  link_to project.name, project
    .panel-body
        .media
            .media-left.media-middle
                = render project.users, :project_id => project.id
            .media-body
                = project.description
            .media-right.media-middle
                .btn.btn-success
                    = link_to "Request to Join", request_to_owner_path(project.id)

%p

//#names= project.users.map(&:name)
// #des= project.description
//#add= link_to "ADD", "http://hackbu-portal-leagerl1.c9.io/projects"

//<table>
//    <tr>
//      <td><h3><%= project.name %></h3></td>
        
    
//       <td><%= project.name %></td>
//       <td><%= project.description %></td>
//       <td><%= project.repo %></td>
//       <td><%= link_to 'Show', project %></td>
//       <td><%= link_to 'Edit', edit_project_path(project) %></td>
//       <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
//      </tr>
      
      
//</table>
