%h1 Create New Project

= render 'form'

// = form_for @project do

//   - if @project.errors.any?
//     %ul
//     - @project.errors.full_messages.each do |msg|
//       %li= msg

//   = label :project, :name, 'Name'
//   = text_field :project, 'name'
  
//   = label :project, :description, 'Description'
//   = text_field :project, 'description'
  
//   = label :project, :repo, 'Repo'
//   = text_field :project, 'repo'
  
//   = submit_tag 'Create'
