// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.media-body
{
    left: 50px;
    border-left: 3px solid #A9FDB4;
    
}

#names
{
    left: 1px;
    
    border: 0px solid black;
    float:left;
}

#des
{
    left: 5px;
    width: 800px;
    height: 200px;
    
    float:left;
    border: 0px solid black;
}

#add
{
    right: 0px;
    width: 70px;
    border:3px solid black;
    padding: 10px;
    float:left;

    background-color: #73AD21;
    text-align: center;
}